@import url('https://fonts.googleapis.com/css2?family=Anybody:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Anybody', cursive;
    list-style: none;
}

body{
    background-color: #d7d7d7;
}


/* Navigation */
#home{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: end;
}

#logo{
    font-size: 30px;
}

#logo a{
    text-decoration: none;
    color: #4880ff;
}

#logo b{
    font-size: 45px;
    color: #0b296b;
}

#menu{
    font-size: 25px;
    display: flex;
}

#menu li{
    margin-left: 60px;
}

#menu a{
    text-decoration: none;
    color: black;
    border: 1px solid #b8b8b8;
    padding: 10px;
    border-radius: 10px;
}

#icons{
    display: inline-flex;
    margin-right: 150px;
}

#icons li{
    margin-left: 20px;
}


/* Slider */
#slider{
    width: 100%;
    height: 600px;
    text-align: center;
    padding-top: 50px;
}

#slider-section{
    display: flex;
    align-items: center;
}

#left-arrow{
    margin-left: 10%;
    cursor: pointer;
}

#right-arrow{
    margin-right: 10%;
    cursor: pointer;
}

#slide-photo{
    width: 70%;
    height: 450px;
    box-shadow: 1px 1px 12px 12px #717171;

    /* image center */
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#slide-name{
    text-align: left;
}

#slide-price{
    text-align: left;
}

#slide-name{
    margin: 40px 0 0 400px;
    font-size: 22px;
}

#slide-price{
    margin: 15px 0 0 400px;
    font-size: 22px;
}

#slide-price b{
    color: #e72323;
}

/* Categories */
#gallery{
    width: 100%;
    height: 700px;
    margin-top: 100px;
}

#categories{
    width: 60%;
    display: flex;
    justify-content: space-around;
}

#categories a{
    text-decoration: none;
    font-size: 22px;
    margin-left: 20px;
    color: black;
    border: 1px solid #b8b8b8;
    padding: 10px;
    border-radius: 10px;
}

#portfolios{
    width: 100%;
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.portfolio{
    margin: 30px 0 0 30px;
}

.portfolio-photo{
    width: 300px;
    height: auto;
    border-radius: 5px;
}


/*  What is portfolio */
#about-portfolio{
    width: 100%;
    height: 700px;
    padding: 10px 100px 0;
    margin-top: 50px;
}

#about-portfolio p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    margin-top: 50px;
    line-height: 170%;
}

/* Footer */
#footer{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: end;
    font-size: 20px;
    padding: 0 40px 0 40px;
    margin: 50px 0 60px 0;
}

#about-us{
    width: 500px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 170%;
}

#contact{
    text-decoration: none;
    color: #0016ff;

    line-height: 200%;
}

#our-number{
    display: flex;
    justify-content: space-between;
}

#numBer{
    font-size: 23px;
    color: black;
}

#our-mail a{
    text-decoration: none;
}